html, body{
    height:100%;
}

body {
    padding:0px;
    margin:0px;
    font-family:Arial;
    font-size:18px;
    text-align:right;
    direction:rtl;  
}

div{
    box-sizing:border-box;
}


.innerSection {
    margin: 0px auto;
    width: 80%
}

.oneItem {
    float: right;
    width: 33.33%;
    height: 50px;
    margin-top: 20px
}

    .oneItem .right {
        float: right;
        width: 65%;
        height: 100%;
        background-color: #CACACA;
        text-align: center;
        padding: 5px
    }

        .oneItem .right .title {
            float: right;
            width: 100%;
            font-size: 1.3em
        }

        .oneItem .right .text {
            float: right;
            width: 100%;
            font-size: 0.8em
        }

    .oneItem .center {
        float: right;
        width: 20%;
        height: 100%;
        background-color: #AAAAAA;
        text-align: center;
        padding-top: 5px
    }

    .oneItem .left {
        float: right;
        width: 15%;
        height: 100%;
        background-color: #EAEAEA
    }

    .oneItem .red{background-color:Red}

@media only screen and (max-width: 1024px) {
    .oneItem {
        width: 50%;
        
    }   
}

@media only screen and (max-width: 800px) {
    .oneItem {
        width: 100%;
    }
}
